<img class="img-responsive" src="assets/cmp4.png" alt="cmp8">

<div class="container"> 
    <div class="p-5 col-md-4 mt-4">
        <a style="color: #8ebf42" href="#">
            <img src="assets/ktm.jpg" class="img-circle" alt="Cinque Terre" width="200" height="195">
            <hr class="mt-4">
            <div class ='md-col-4 ml-md-5'>
                <h1>Kathan Mehta</h1>
            </div> 
        </a>
    </div>   
    <div class="p-5 col-md-4 mt-4">
        <a style="color: #8ebf42" href="#">
            <img src="assets/kv.jpg" class="img-circle" alt="Cinque Terre" width="200" height="195"> 
            <hr class="mt-4">
            <div class ='md-col-4 ml-md-5'>
                <h1>Kavit Mehta</h1>
            </div> 
        </a>
    </div>     
    <div class="p-5 col-md-4 mt-4 mb-4">
        <a style="color: #8ebf42" href="#">
            <img src="assets/vd.jpg" class="img-circle" alt="Cinque Terre" width="200" height="195"> 
            <hr>
            <div class ='md-col-4 ml-md-5'>
                <h1>Vedant Dave</h1>
            </div>
        </a>
    </div>     
    <div class="p-5 col-md-4 mt-4">
        <a style="color: #8ebf42" href="#">
            <img src="assets/rd2.jpg" class="img-circle" alt="Cinque Terre" width="200" height="195"> 
            <hr class="mt-4">
            <div class ='md-col-4 ml-md-5'>
                <h1>Ridham Dave</h1>
            </div> 
        </a>
    </div> 
    <div class="p-5 col-md-4 mt-4">
        <a style="color: #8ebf42" href="#">
            <img src="assets/all.jpg" class="img-circle" alt="Cinque Terre" width="200" height="195"> 
            <hr class="mt-4">
            <div class ='md-col-4 ml-md-5'>
                <h1>All Photos</h1>
            </div> 
        </a>
    </div>      
</div>